<!doctype html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8">
<meta name="author" content="ThemeFuse">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title></title>

<!-- Style CSS -->
<link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href="static/css/bootstrap.css">
<link rel="stylesheet" href="static/css/default.css">
<script type="text/javascript" src="static/jquery.min.js"></script>

<style>
hr{
	margin-bottom:5px;
	margin-top:5px;
}
</style>

<script type="text/javascript">
    $(document).ready(function() {		
		$.ajax({
             type: "get",
             async: false,
             url: "https://api.thinkpage.cn/v3/weather/now.json?location=beijing&ts=1475913159&uid=U5218EB65C&sig=6b3rpysWlgzplQ06Z/LXhQNzrjc=",
             dataType: "jsonp",
             jsonp: "callback",
             jsonpCallback:"weather",
             success: function(json){
				$("p").html(JSON.stringify(json));
             },
             error: function(){
                 alert('fail');
             }
         });
    });
</script>  

</head>

<body>

<div class="container container-wide">

	<!-- content -->
	<div class="content " role="main">
		<!-- row -->
		<div class="row">
			<div class="col-sm-12">
				<!-- Website Menu -->
				<div id="topmenu">
					<ul class="dropdown clearfix boxed">
						<li class="menu-level-0"><a href="/"><i class="icon-menu icon-menu7"></i><span>首页</span></a> </li>
						<li class="menu-level-0"><a href="/Pages/1.html"><i class="icon-menu icon-menu6"></i><span>文章</span></a> </li>
						<li class="menu-level-0"><a href="#"><i class="icon-menu icon-menu3"></i><span>标签</span></a> </li>		
						<li class="menu-level-0"><a href="#"><i class="icon-menu icon-menu4"></i><span>关于</span></a></li>
					</ul>
				</div>
				<!--/ Website Menu -->
			</div>
		</div>
		<!--/ row -->	
		
		<div class="row" id="weather">
			<p id="p"></p>
		</div>
		
</div>
<!--/ container -->

</body>
</html>